html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    padding-top: 1px;
    background: #507ea4;
    color: #fff;
    text-align: center;
    font-size: 1em;
}
.logo {
    margin: 50px 0;
}
.logo_image {
    border-radius: 50%;
    border-width: medium;
    border-style: solid;
    border-color: white;
    width: 150px;
    height: 150px;
}
.logo_text {
    display: none;
    color: #fff;
}
nav {
    padding-bottom: 1px;
}

nav li a{
    padding: 5px 0;
    display: block;
}
nav li a:hover {
    background: #333;
}
nav a,nav a:link,nav a:visited,nav a:active,nav a:hover{
    color: #eee;
    text-decoration: none;
    letter-spacing: 0.5em;
    font-size: 1.2em;
}
.extractlist {
    margin: 50px 50px 50px 300px;
}
.extractlist h1 {
    font-weight: normal;
    font-size: 1.6em;
}

.extract {
    margin: 20px 0;
}
.extract .title h1 {
    font-weight: normal;
    font-size: 1.4em;
}

@media (max-width: 600px) {
    header {
        font-size: 14px;
        position: static;
        width: 100%;
    }
    nav {
        background: #005f8e;
    }
    nav li{
        display: inline-block;
        margin: 0px 10px;
        padding: 0 !important;
    }
    nav li a:hover {
        background: #005f8e !important;
    }
    .extractlist {
        margin: 20px 20px 20px 20px;
    }
    .extractlist h1 {
        text-align: center;
    }
    .logo {
        margin: 20px 0;
    }
    .logo_image {
        display: none;
    }
    .logo_text {
        display: block;
    }
}

p code {
    background: #f8f8f8;
    color: #D14;
    border: 1px solid #E1E1E8;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 0.8em;
}
li code {
    background: #f8f8f8;
    color: #D14;
    border: 1px solid #E1E1E8;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 0.8em;
}

::-moz-selection{
  background: #507ea4 !important;
}

::selection{
  background: #507ea4 !important;
}
