<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/typo.css" type="text/css">
    <link rel="stylesheet" href="/css/pygments.css" type="text/css">
    <script>
        function  MouseOver(navitem){
            navitem.style.background = "#000";
        }
        function MouseOut(navitem){
            navitem.style.background = "#08c";
        }
    </script>
</head>
<body>
<header>
    <img id="logo" src="/css/logo.jpg" alt=""/>
    <div id="list">
        <div onmouseover="MouseOver(this)" onmouseout="MouseOut(this)" onlick="location.href='index';" class="navitem">
            首页
        </div>
        <div onmouseover="MouseOver(this)" onmouseout="MouseOut(this)" onlick="location.href='archive';" class="navitem">
            归档
        </div>
        <div onmouseover="MouseOver(this)" onmouseout="MouseOut(this)" onlick="location.href='about';" class="navitem">
            关于
        </div>
    </div>
    <div id="footer"><small style = "color: #eee;">貌似应该在这儿写点什么</small></div>
</header>
